/* Empty. Add your own CSS if you like */


.camera {
    position: absolute;
    bottom: 20px;
    right: 20px;
}
.camera i {
    font-size: 30px;
}


/* Galleries view */
.galleries-list {
    flex-wrap: wrap;
    -webkit-flex-flow: row wrap;
}
.gallery {
    height: calc(50vw - 15px);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 2px;
    background-color: #FFF;
    position: relative;
    display: block;
}
.gallery .gallery-image {
    width: 100%;
    height: auto;
    
    border-radius: 2px;
}
.gallery .gallery-bg {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(42, 42, 42, 0.3);
}
.gallery .gallery-title, .galleries-view .gallery .gallery-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background: rgba(0,0,0,0.5);
    color: #fff;
}
.galleries-view .gallery .gallery-title {
    padding: 3px 5px;
}
.gallery-view .gallery .gallery-title {
    text-align: center;
}
.gallery .gallery-title i {
    font-size: 2em;
}
.gallery .gallery-title h5, .gallery .gallery-title h6 {
    color: #fff;
    margin: 0;
}




body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}
.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: 300;
     height: 100%; width:100%;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

.left, .right{
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-box-align: center;
  -moz-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  height: 49%;
  z-index: 100;
  width: 44px;
  background-color: rgba(0,0,0,0)
}

.left{

  left: 0;
}

.right{
  right: 0;
}

